.noMovieLoadingContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.noMovieLoadingContainer > h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.resultCountContainer {
  padding-top: 20px;
  color: #ffffff;
  font-weight: lighter;
}

.movieListContainer {
  padding: 20px 0px 50px 0px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
