.deleteMovieContainer > h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}

.deleteMovieContainer > h2 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 20px 0px 10px 0px;
}

.deleteMovieContainer > :nth-last-child(1) {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.deleteMovieContainer > :nth-last-child(1) > * {
  width: 35%;
  height: 35px;
  border-radius: 3px;
}

.deleteMovieContainer > :nth-last-child(1) > :nth-child(1) {
  margin-left: 3%;
  background-color: #f65261;
  border: none;
  color: #ffffff;
}
