.form-control {
  margin-top: 30px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  background-color: #2e2e2e;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  width: 100%;
  height: 40px;
}

.react-datepicker__input-container input {
  padding: 7px;
}

.react-datepicker__input-container input[class*='is-invalid'] {
  border: 1px solid #f65261;
}

.error {
  color: #f65261;
  position: absolute;
  font-size: x-small;
  margin-top: 1%;
}
