.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('https://qph.fs.quoracdn.net/main-qimg-029c05ba3442e310dcce3c3984aef945.webp');
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.titleContainer > :first-child {
  margin-left: 50px;
}

.titleContainer > img {
  cursor: pointer;
  height: 30%;
  margin: 25px 0px;
  margin-right: 50px;
}

.movieDetailsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  padding: 0px 50px;
}

.movieDetailsContainer > img {
  height: 85%;
}

.movieDetailsContainer > :nth-child(2) {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.movieDetailsContainer > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-direction: row;
}

.movieDetailsContainer > :nth-child(2) > :nth-child(1) > h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.numberCircle {
  margin-left: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 7px;
  background: transparent;
  border: 2px solid #666;
  color: #7eb658;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.movieDetailsContainer > :nth-child(2) > :nth-child(2) > span {
  color: #9ca4ab;
  margin-top: 10px;
}

.movieDetailsContainer > :nth-child(2) > :nth-child(3) {
  margin-top: 20px;
}

.movieDetailsContainer > :nth-child(2) > :nth-child(3) > :nth-child(2) {
  margin-left: 20px;
}

.movieDetailsContainer > :nth-child(2) > p {
  margin-top: 20px;
  color: #9ca4ab;
}
